html, body {
  height: 100%;
  padding-top: 10px;
  background: linear-gradient(to bottom right,rgb(157, 183, 209),#7fcc7f);
}



#card{
  border-radius: 20px;
  border: 1px solid #EE8130;
  margin-bottom: 2.5rem;
  background: none;
}

.pokemon .card--charizard {
  border-color: #;
  
  .card-image-container {
    position: absolute;
    width: 290px;
    top: -85px;
  }